@charset "utf-8";
/* CSS Document */

.footer {
	
}

.carouselExampleIndicators {
	margin-top: 200px;
}

.text {
	align-content: center;
	text-align: center;
}

.containeruno {
	background-color: #C62828;
	padding: 15px 0;
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 50px;
	font-size: 20px;
}
.content {
	margin-top: 50px;
	justify-content: center;
	align-content: center;
}
.contentdos {
	margin-top: 20px;
	align-content: center;
	align-items: center;
	margin-left: 50px;
}

.h2 {
	text-align: center;
}

.h1 {
	text-align: center;
	align-content: center
}